body {
  background-color: black;
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

div {
  /*border: 1px solid red;*/
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  height:69px;
  width: 100%;
  margin: 0;
  top: 0px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo {
/*background-image: url("../images/img-tea-cozy-logo.png");*/
margin-left: 10px;
}
.logo img {
  height: 50px;
}

header nav {
  color: seashell;
  margin-right: 30px;
}

header nav span {
  margin-left: 20px;
}
a:hover, a:active, a:link, a:visited {
  color: seashell;
}


/*Mission*/
#mission {
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  padding-top: 69px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#mission .image-text {
  background-color: black;
}

/* Tea of the Month*/
#TOTMcontainer {
  width: 1000px;
  padding-top: 69px;
  margin-left: auto;
  margin-right: auto;
}
.TOTM {
  display: flex;
  flex-flow: wrap;

  justify-content: center;
}

.tea {
  margin: 10px;
  text-align: center;
  margin-top: 10px;

}
.tea img {
  width:300px;
  height:200px;
}

.tea h4 {
  margin: 10px;
}
/* Locations */
#locationscontainer {
  height: 500px;
  width: 1200px;
  background-image: url("../images/img-locations-background.jpg");
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-top: 69px;
}
#locationscontainer h2 {

  margin-bottom: 15px;
  font-weight: bold;
}
.locations {
  display: flex;
  width: 1020px;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.location {
  background-color: black;
  width:300px;
}

.location p {
  opacity 1;
  margin: 30px 0px;
}
/* contact */
.contact {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
/* footer */
.footer p {
  margin-left: 20px;
  text-align: left;
  font-weight: bold;
}
